<launch>

  <param name="/use_sim_time" value="false" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 0 0 0 map base_link" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory /home/nvidia/SLAM_ws/src/cartographer_ros/cartographer_ros/configuration_files
          -configuration_basename jetsonbot_2d.lua" output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" output="screen"/>

  <arg name="razor_config_file" default="/home/nvidia/cmpe295_ws/src/razor_imu_9dof/config/my_razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>
  <include file="/home/nvidia/cmpe295_ws/src/ydlidar_ros_driver/launch/lidar.launch" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d /home/nvidia/SLAM_ws/src/cartographer_ros/cartographer_ros/configuration_files/jetsonbot.rviz"/>
    <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" name="ArduinoIController" />
	<node pkg="drive_module" type="wall_follow.py" name="Wall_Following_Controller" />
    <node pkg="drive_module" type="safety_node.py" name="Safety_Controller" />


</launch>
