<launch>
    <node pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" name="ArduinoIController" />
    <include file="/home/nvidia/cmpe295_ws/src/ydlidar_ros_driver/launch/lidar.launch" />
    <node pkg="drive_module" type="ackermann_drive_to_cmd_vel.py" name="Signal_Translator" />
	<node pkg="drive_module" type="wall_follow.py" name="Wall_Following_Controller" />
    <node pkg="drive_module" type="safety_node.py" name="Safety_Controller" />
</launch>